@import url("reset.css");

body {
	background-color: #f2f3f3;
	background-position: -50px -200px;
	background-repeat: no-repeat;
	background-image: url(../images/decor-circlemenu.png);
	font-family: 'Open Sans', sans-serif;
	line-height: 1.2;
	padding-bottom: 40px;
}

body.home {
	background-position: -50px 240px;
}

body.activities {
	background-color: #f5d95c;
}

header {
	background-image: url(../images/menu-header.png);
	background-repeat: repeat-x;
	height: 66px;
	padding-top: 20px;
	background-color: #575757;
}

.activities header {
	background-color: #ffb400;
}

header a {
	background-image: url(../images/menu-header-logo.png);
	background-repeat: no-repeat;
	display: block;
	width: 175px;
	height: 46px;
	text-align: center;
	text-indent: -10000px;
	margin: 0 auto;
}

header a:hover {
	background-image: url(../images/menu-header-logo-hover.png);
}

nav {
	font-family: 'Finger Paint', cursive;
	font-size: 18px;
	height: 263px;

}

nav li#menu-item-6:hover, 
nav li#menu-item-6.current {
	background-image: url(../images/menu-circle-activities.png);
	background-repeat: no-repeat;
}

nav li#menu-item-7:hover, 
nav li#menu-item-7.current {
	background-image: url(../images/menu-circle-fairytale.png);
	background-repeat: no-repeat;
}

nav li#menu-item-8:hover, 
nav li#menu-item-8.current {
	background-image: url(../images/menu-circle-rhymes.png);
	background-repeat: no-repeat;
}

nav li#menu-item-9:hover, 
nav li#menu-item-9.current {
	background-image: url(../images/menu-circle-songs.png);
	background-repeat: no-repeat;
}

nav a {
	color: #fff;
	text-decoration: none;
	width: 140px;
	height: 80px;
	display: block;
	text-align: center;
	padding-top: 60px;
}

nav ul {
	width: 960px;
	margin: 0 auto;
}

nav li {
	float: left;
	margin-left: 40px;
	background-image: url(../images/menu-circle.png);
	background-repeat: no-repeat;
	width: 140px;
	height: 140px;
	margin-top: 60px;
	margin-right: 60px;
}

em {
	font-style: italic;
}

#slideshow {
	display: block;
	height: 512px;
	max-width: 1490px;
	margin: 20px auto 0 auto;
	overflow: hidden;
	-webkit-box-shadow: 4px 4px 10px rgba(153, 153, 153, 0.4);
	-moz-box-shadow:    4px 4px 10px rgba(153, 153, 153, 0.4);
	box-shadow:         4px 4px 10px rgba(153, 153, 153, 0.4);
}

#slideshow img {
	height: 512px;
	max-width: 1490px;
}

#pager {
	margin-top: 20px;
	text-align: center;
}

#pager li {
	display: inline;	
}

#pager li a {
	margin-right: 5px;
	display: inline-block;
	background-image: url(../images/pager-inactive.png);
	background-repeat: no-repeat;
	height: 18px;
	width: 19px;
}

#pager li.current a {
	background-image: url(../images/pager-active.png);
}

#pager li a:hover {
	background-image: url(../images/pager-hover.png);
}

#page {
	background-color: #575757;
	background-image: url(../images/decor-bottom.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	position: relative;
	z-index: 2;
}

.activities #page {
	background-color: #ffb400;
}

#page:before {
	background-image: url(../images/page-top.png);
	background-repeat: repeat-x;
	height: 6px;
	content: '';
	display: block;
}

#page:after {
	background-image: url(../images/page-bottom.png);
	background-repeat: repeat-x;
	height: 9px;
	content: '';
	display: block;
	position: relative;
	z-index: 1;
	border-bottom: 1px solid #fff;
	clear: both;
}

#content {
	width: 960px;
	margin: 0 auto;
	padding: 60px 0 40px 0;
	color: #fff;
}

#content:after {
	content: '';	
	clear: both;
	display: block;		
}

#content article {
	position: relative;
	height: 256px;
	margin-bottom: 20px;
}

#content article ul {
	list-style: disc;
	margin-left: 20px;
	margin-bottom: 20px;
}

#content article a {
	color: #fff;
	text-decoration: none;
}

#content article a:hover {
	color: rgb(132, 186, 88);
}

#content article a.permalink:hover {
	color: #fff;
}

.page #content article,
.single #content article {
	height: auto;
}

#content article h1 {
	font-family: 'Finger Paint', cursive;
	font-size: 30px;
	color: #fff;
	margin-bottom: 20px;
}

#content article h2 {
	font-family: 'Finger Paint', cursive;
	font-size: 20px;
	margin-bottom: 20px;
}

#content #metadata {
	font-size: 12px;
	font-style: italic;
	margin-top: 10px;
	opacity: .7;
}


#content article p {
	margin-bottom: 20px;
}

.tales #content article p:first-child {
	font-size: 20px;
	line-height: 1.2;
	margin-top: -4px;
	text-align: justify;	
}

.tales #content article p:first-child:first-letter {
	font-family: 'Finger Paint', cursive;
	float: left;
	margin-top: -5px;
	margin-bottom: -10px;
	font-size: 47px;
	color: #fff;
	margin-right: 4px;
	text-shadow: 3px 3px rgba(0, 0, 0, .2);
}

#body {
	float: right;
	width: 720px;
}

#media {
	float: left;
}

#media img {
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    4px 4px 10px rgba(0, 0, 0, 0.3);
	box-shadow:         4px 4px 10px rgba(0, 0, 0, 0.3);
}

section.category {
	color: #fff;
	float: left;
	text-align: center;
	margin-right: 20px;
}

body.category section.category {
	width: 960px;
}

section.category h2 {
	font-size: 20px;
	margin-bottom: 20px;
	font-weight: 700;
}

section.category h3 {
	background-color: rgba(0, 0, 0, .6);
	height: 60px;
	width: 220px;
	position: absolute;
	bottom: 0;
	padding-top: 20px;
}

section.category a {
	width: 220px;
	height: 256px;
	margin-bottom: 20px;
	color: #fff;
	text-decoration: none;
	display: block;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    4px 4px 10px rgba(0, 0, 0, 0.3);
	box-shadow:         4px 4px 10px rgba(0, 0, 0, 0.3);
}

section.category a:hover {
	background-color: rgba(0, 0, 0, .5);
}

body.category section.category article {
	float: left;
	margin-right: 20px;
}

.home #content .post-ratings ol,
.category #content .post-ratings ol {
	position: absolute;
	bottom: 20px;
	left: 38px;
	
}

.single #content #header h1,
.single #content #header ol,
.single #content .post-ratings {
	display: inline;
}

.single #content #header {
	margin-bottom: 20px;
}

.single #content .post-ratings {
	position: relative;
	top: -7px;
	left: 20px;
}

#content .post-ratings ol li {
	width: 23px;
	height: 20px;
	padding-right: 7px;
}

#content .post-ratings ol li.on {
    background-image: url(../images/rating-full.png);
}

#content .post-ratings ol li.off {
    background-image: url(../images/rating-empty.png);
}

#content .post-ratings ol li.half {
    background-image: url(../images/rating-half.png);
}

#content .post-ratings ol.vote li.o,
#content .post-ratings ol.vote li:hover {
    background-image: url(../images/rating-hover.png);
}

footer {
	text-align: center;
	padding-top: 20px;
}

footer a {
	color: #000;
	text-decoration: none;
	margin-right: 20px;
	font-size: 25px;
	font-family: 'Finger Paint', cursive;
}