@import url("reset.css");

body {
	background-color: #e0eaf3;
	font-family: 'Alef', sans-serif;
}

#slideshow {
	display: none;
}

.home #page {
	display: none;
}

header a {
	background-image: url(../images/phone-logo.png);
	background-repeat: no-repeat;
	display: block;
	width: 122px;
	height: 32px;
	text-align: center;
	text-indent: -10000px;
	margin: 0 auto;
	margin-top: 10px;
}

nav {
	font-family: 'Finger Paint', cursive;
	font-size: 20px;
}

nav li {
	background-image: url(../images/phone-menu.png);
	background-repeat: repeat-x;
	list-style: none;
	width: ;
}

nav li:hover, 
nav li.current {
	background-image: url(../images/phone-menu-active.png);
	background-repeat: repeat-x;
}

nav a {
	background-image: url(../images/phone-arrow.png);
	background-repeat: no-repeat;
	background-position: 300px 18px;
	color: #fff;
	text-decoration: none;
	height: 42px;
	display: block;
	margin: 10px 0 0 20px;
	padding-top: 22px;
}

em {
	font-style: italic;
}

#page {
	background-image: url(../images/decor-bottom.png), url(../images/page-bg.png);
	background-repeat: no-repeat, repeat;
	background-position: bottom right, top left;
	position: relative;
	z-index: 2;
	margin-top: 20px;
}

#page:before {
	background-image: url(../images/page-top.png);
	background-repeat: repeat-x;
	height: 6px;
	content: '';
	display: block;
}

#page:after {
	background-image: url(../images/page-bottom.png);
	background-repeat: repeat-x;
	height: 9px;
	content: '';
	display: block;
	position: relative;
	z-index: 1;
	border-bottom: 1px solid #fff;
	clear: both;
}

#content {
	width: 220px;
	margin: 0 auto;
	padding: 20px 0 20px 0;
	color: #fff;
}

#content article {
	position: relative;
	margin-bottom: 20px;
}

#content article ul {
	list-style: disc;
	margin-left: 20px;
	margin-bottom: 20px;
}

#content article ul li a {
	color: #fff;
	text-decoration: none;
}

#content article ul li a:hover {
	color: rgb(132, 186, 88);
}

#content article h1 {
	text-align: center;
	font-family: 'Finger Paint', cursive;
	font-size: 18px;
	color: #fff;
	margin-bottom: 10px;
}

#content article p {
	padding-bottom: 20px;
}

#media {
	margin-bottom: 20px;
}

#media img {
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    4px 4px 10px rgba(0, 0, 0, 0.3);
	box-shadow:         4px 4px 10px rgba(0, 0, 0, 0.3);
}

body.page #content article h1 {
	text-align: left;
}

section.category {
	color: #fff;
	text-align: center;
	margin: 0 auto;
}

section.category h3 {
	background-color: rgba(0, 0, 0, .4);
	height: 60px;
	width: 220px;
	position: absolute;
	bottom: 0;
	padding-top: 20px;
}

section.category a {
	width: 220px;
	height: 256px;
	margin-bottom: 20px;
	color: #fff;
	text-decoration: none;
	display: block;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    4px 4px 10px rgba(0, 0, 0, 0.3);
	box-shadow:         4px 4px 10px rgba(0, 0, 0, 0.3);
}

section.category a:hover {
	background-color: rgba(132, 186, 88, 0.5);
}

.home #content .post-ratings ol,
.category #content .post-ratings ol {
	position: absolute;
	bottom: 20px;
	left: 38px;
	
}

.single #content #header {
	margin-bottom: 20px;
}

.single #content .post-ratings {
	text-align: center;
}

#content .post-ratings ol li {
	width: 23px;
	height: 20px;
	padding-right: 7px;
}

#content .post-ratings ol li.on {
    background-image: url(../images/rating-full.png);
}

#content .post-ratings ol li.off {
    background-image: url(../images/rating-empty.png);
}

#content .post-ratings ol li.half {
    background-image: url(../images/rating-half.png);
}

#content .post-ratings ol.vote li.o,
#content .post-ratings ol.vote li:hover {
    background-image: url(../images/rating-hover.png);
}

footer {
	text-align: center;
	padding-top: 20px;
}

footer a {
	color: #4781b2;
	text-decoration: none;
	font-size: 20px;
	font-family: 'Finger Paint', cursive;
	display: block;
	margin-bottom: 10px;
}