@import url("reset.css");

body {
	background-image: url(../images/decor-circlemenu.png);
	background-position: -50px -200px;
	background-repeat: no-repeat;
	font-family: 'Alef', sans-serif;
	background-color: #e0eaf3;
	padding-bottom: 40px;
}

body.home {
	background-position: -50px 240px;
}

header {
	background-image: url(../images/tablet-menu-header.png);
	background-repeat: repeat-x;
	height: 51px;
	padding-top: 15px;
}

header a {
	background-image: url(../images/tablet-menu-header-logo.png);
	background-repeat: no-repeat;
	display: block;
	width: 136px;
	height: 35px;
	text-align: center;
	text-indent: -10000px;
	margin: 0 auto;
}

header a:hover {
	background-image: url(../images/tablet-menu-header-logo-hover.png);
}

#slideshow {
	display: block;
	height: 275px;
	max-width: 768px;
	margin: 20px auto 0 auto;
	overflow: hidden;
	-webkit-box-shadow: 4px 4px 10px rgba(153, 153, 153, 0.4);
	-moz-box-shadow:    4px 4px 10px rgba(153, 153, 153, 0.4);
	box-shadow:         4px 4px 10px rgba(153, 153, 153, 0.4);
}

#slideshow img {
	height: 275px;
	max-width: 768px;
}

nav {
	font-family: 'Finger Paint', cursive;
	font-size: 14px;
	height: 202px;
}

nav li:hover, 
nav li.current {
	background-image: url(../images/tablet-menu-circle-h-a.png);
	background-repeat: no-repeat;
}

nav a {
	color: #fff;
	text-decoration: none;
	width: 109px;
	height: 62px;
	display: block;
	text-align: center;
	padding-top: 47px;
}

nav ul {
	width: 768px;
	margin: 0 auto;
}

nav li {
	float: left;
	margin-left: 50px;
	background-image: url(../images/tablet-menu-circle.png);
	background-repeat: no-repeat;
	width: 109px;
	height: 109px;
	margin-top: 47px;
	margin-right: 30px;
}

#page {
	background-image: url(../images/decor-bottom.png), url(../images/page-bg.png);
	background-repeat: no-repeat, repeat;
	background-position: bottom right, top left;
	position: relative;
	z-index: 2;
}

#page:before {
	background-image: url(../images/page-top.png);
	background-repeat: repeat-x;
	height: 6px;
	content: '';
	display: block;
}

#page:after {
	background-image: url(../images/page-bottom.png);
	background-repeat: repeat-x;
	height: 9px;
	content: '';
	display: block;
	position: relative;
	z-index: 1;
	border-bottom: 1px solid #fff;
	clear: both;
}

#content {
	width: 740px;
	margin: 0 auto;
	padding: 40px 0 35px 0;
	color: #fff;
}

#content:after {
	content: '';	
	clear: both;
	display: block;		
}

#content article {
	position: relative;
	height: 197px;
	margin-bottom: 20px;
}

#content article h1 {
	font-family: 'Finger Paint', cursive;
	font-size: 20px;
	color: #fff;
	margin-bottom: 20px;
}

#content article p {
	padding-bottom: 20px;
}

#body {
	float: right;
	width: 492px;
}

#media {
	float: left;
}

#media img {
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    4px 4px 10px rgba(0, 0, 0, 0.3);
	box-shadow:         4px 4px 10px rgba(0, 0, 0, 0.3);
}

section.category {
	color: #fff;
	float: left;
	text-align: center;
	margin-right: 20px;
}

section.category:last-child {
	margin-right: 0;
}

body.category section.category {
	width: 768px;
}

section.category h2 {
	font-size: 15px;
	margin-bottom: 20px;
}

section.category h3 {
	background-color: rgba(0, 0, 0, .4);
	height: 40px;
	width: 170px;
	position: absolute;
	bottom: 0;
	padding-top: 20px;
	font-size: 12px;
}

section.category a {
	width: 170px;
	height: 197px;
	margin-bottom: 20px;
	position: relative;
	color: #fff;
	text-decoration: none;
	display: block;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    4px 4px 10px rgba(0, 0, 0, 0.3);
	box-shadow:         4px 4px 10px rgba(0, 0, 0, 0.3);
}

body.category section.category {
	width: 768px;
}

section.category a:hover {
	background-color: rgba(132, 186, 88, 0.5);
}

body.category section.category article {
	float: left;
	margin-right: 20px;
}

footer {
	text-align: center;
	padding-top: 20px;	
}

footer a {
	color: #4781b2;
	text-decoration: none;
	margin-right: 20px;
	font-size: 25px;
	font-family: 'Finger Paint', cursive;
}

